<p id="notice"><%= notice %></p>

<p>
  <b>Game date:</b>
  <%= @startingmember.game_date %>
</p>


<%= link_to 'Edit', edit_startingmember_path(@startingmember) %> |
<%= link_to 'Back', startingmembers_path %>
